<div class="main posts-index">
  <div class="container">
    
    <div class="link">
      <%= link_to("1年前期","/posts/index/#{@department_id}/1") %><br>

      <%= link_to("1年後期","/posts/index/#{@department_id}/2") %><br>
      
      <%= link_to("2年前期","/posts/index/#{@department_id}/3") %><br>

      <%= link_to("2年後期","/posts/index/#{@department_id}/4") %><br>

      <%= link_to("3年前期","/posts/index/#{@department_id}/5") %><br>

      <%= link_to("3年後期","/posts/index/#{@department_id}/6") %><br>
      
      <%= link_to("4年前期","/posts/index/#{@department_id}/7") %><br>

      <%= link_to("4年後期","/posts/index/#{@department_id}/8") %><br>
    </div>
  </div>
</div>