<div class="main posts-index">
  <div class="container">

    <h1>工学部</h1>
    <div class="link">
      <%= link_to("電気電子情報工学科","/posts/index/1") %><br>

      <%= link_to("機械・材料工学科","/posts/index/2") %><br>
      
      <%= link_to("応用化学工学科","/posts/index/3") %><br>
    </div>

    <h1>経済学部(Coming Soon)</h1>
    <div class="link">
      <%= link_to("国際経済学科","/posts/index/4") %><br>

      <%= link_to("応用経済学科","/posts/index/5") %><br>
    </div>

    <h1>経営学部(Coming Soon)</h1>
    <div class="link">
      <%= link_to("組織経営学科","/posts/index/6") %><br>

      <%= link_to("事業創造学科","/posts/index/7") %><br>
    </div>

    <h1>国際商経学部(Coming Soon)</h1>
    <div class="link">
      <%= link_to("国際商経学科","/posts/index/8") %><br>
    </div>

    <h1>社会情報科学部(Coming Soon)</h1>
    <div class="link">
      <%= link_to("社会情報科学科","/posts/index/9") %><br>
    </div>


    <h1>理学部(Coming Soon)</h1>
    <div class="link">
      <%= link_to("物質科学科","/posts/index/10") %><br>

      <%= link_to("生命科学科","/posts/index/11") %><br>
    </div>

    <h1>環境人間学部(Coming Soon)</h1>
    <div class="link">
      <%= link_to("環境人間学科","/posts/index/12") %><br>
    </div>

    <h1>看護学部(Coming Soon)</h1>
    <div class="link">
      <%= link_to("看護学科","/posts/index/13") %><br>
    </div>
    

</div>


       